[submodule "Adafruit_SSD1306"]
	path = lib/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "Adafruit_GFX"]
	path = lib/Adafruit_GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "Adafruit_ADS1X15"]
	path = lib/Adafruit_ADS1X15
	url = https://github.com/adafruit/Adafruit_ADS1X15.git
